<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
        <p>
          <mat-form-field>
            <input type="text" formControlName="email" name="" id="" placeholder="Username" matInput>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="password"  formControlName="password" name="" id="" placeholder="Password" matInput>
          </mat-form-field>
        </p>
        <button type="submit" mat-raised-button color="primary">Login</button>
      </form>
    </mat-card-content>
</mat-card>
