/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fill-remaining-space {
  flex: 1 1 auto;
}

.active {
  border: 1px solid #f5f5f5;
}

.container-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.sport {
  background: blue !important;
}

.life {
  background: orangered !important;
}

.style {
  background: red !important;
}

mat-chip.mat-chip.mat-primary.mat-standard-chip {
  min-height: 1rem;
  padding: 9px;
}
